/* Import fonts: Libre Carlson, Lato and Raleway  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Raleway:wght@800&display=swap');

body {
  margin: 0; 
  font-family: Lato; 
}
#banner{
  width: 100%;
  height: auto;
  display: block;
}

.container {
  display: flex;
  align-items:center;
  gap: 10px;
  margin-top: 20px;
  justify-content: flex-end;
  margin-right: 100px;
}

.container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-top: 20px;
}

.container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 20px;
}

.gallery-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: -30px; /* Space between each image container */
  flex-wrap: wrap;
  margin-top: 70px;
  padding: 50px;
}

.artist-card {
  text-align: center;
  width: 250px; /* Fixed width for each image container */
}

.artist-card a {
  text-decoration: none;
  color: black; /* Sets text color to black */
}

.artist-card img {
  width: 100%;
  height: auto;
  border-radius: 4px; /* Optional: adds slight rounding to the image corners */
}

.artist-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

.gallery-container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px; /* Space between each image container */
  flex-wrap: wrap;
  
  padding: 50px;
}
* {
  margin:0;
padding:0;
box-sizing: border-box;
}

.container {
max-width: 1170px;
margin:auto;
}

.row {
display: flex;
flex-wrap: wrap;
}

ul {
list-style: none;
}

.footer {
background-color: #333;
  padding: 70px 0;
}

.footer-col {
 width: 25%;
 padding: 0 15px;
}

.footer-col h4 {
font-size: 1.2em;
  font-family: Raleway;
  color: white;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}

.footer-col h4::before {
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #b175ff;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child) {
margin-bottom: 10px;
}

.footer-col ul li a {
font-size: 1em;
  font-family: Poppins;
color: white;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover {
color: white;
padding-left: 8px;
}

.footer-col .social-links a {
display: inline-block;
height: 40px;
width: 40px;
background-color: #666;
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: white;
transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
color: #b175ff;
background-color: white;
}

.copyright { 
  color: white;
  font-family: Raleway;
  font-size: 1em;
  margin-top: 20px;
}



/*** Responsive Footer ***/
@media(max-width: 767px) {
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}

@media(max-width: 574px) {
.footer-col{
  width: 100%;
}
}
