/* Import fonts: Libre Carlson, Lato and Raleway  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Raleway:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
    list-style: none;
    text-decoration: none; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
}


main {
    flex: 1;
} 

/* ---------- Navigation Bar ---------- */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}

.logo img {
    width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 370;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: #b4d4ff;
}

.nav-icon {
    display: flex;
    align-items: center;
}

#individual-nav-icon:hover {
    transform: scale(1);
    color: #b4d4ff; 
}

.nav-icon i {
    margin-right: 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    transition: all .42s ease;
}

#menu-icon {
    font-size: 32px;
    color: #ffffff;
    z-index: 10001;
    cursor: pointer;
}

/* Show dropdown only when clicking over the menu icon */
#menu-icon:hover + .dropdown-content {
    display: block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;     /* Initially hidden */
    font-size: 16px;
    padding: 5px;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%;         /* Position it directly below the menu icon */
    left: 0;           /* Align with menu icon */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ededed; 
}

#menu-icon:hover {
    transform: scale(1);
    color: #b4d4ff; 
}

/* ---------- End of Navigation Bar ---------- */


/* ---------- Payment Section ---------- */
.payment-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f6f6;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-container form {
    width: 800px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

form .row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.column .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 10px;
}

.input-box input, .input-box select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.input-box select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    background: #fff;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    /* down arrow svg */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 16px 16px;
}

.input-box {
    position: relative;
}

.input-box::after {
    content: '';
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.column .flex {
    display: flex;
    gap: 15px;
}

.flex .input-box {
    width: 150%;
    margin-top: 5px;
    font-display: space-between;
}

.input-box img {
    height: 34px;
    filter: none;
    margin: 2px 0 0 0;
    padding: 0;
}

#country-dropdown {
    width: 200px; 
    max-width: 400px; 
}

input[placeholder="11000"] {
    width: 100%; 
    max-width: 150px; 
}

form .btn {
    width: 100%;
    padding: 12px;
    background: #b4d4ff;
    font-family: Lato;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #000;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}
/* #378cfa */

form .btn:hover {
    transform: scale(1);
    background: #9ec7fc;
}

input.error, select.error {
    border-color: red !important;
}

.invalid {
    border-color: red !important;
}

/* ---------- End of Payment Section ---------- */


/* ---------- Footer ---------- */
.footer-container {
	max-width: 1170px;
	margin:auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: black;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #b4d4ff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 17px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 350;
	color: #cccccc;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #2b2e34;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #2b2e34;
	background-color: #b4d4ff;
}

.copyright { 
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* ---------- End of Footer ---------- */


/* ---------- Scroll-to-top Button ----------*/
.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #b4d4ff;
    color: black;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    z-index: 9999;
}
  
.scrollToTop:hover {
    background-color: #2b2e34;
    color: #fff;
}
/* ---------- Scroll-to-top Button ----------*/


