/* Import fonts: Libre Caslon, Lato, Playfair Display, Roboto, and Raleway  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Lato;
    list-style: none;
    text-decoration: none; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
}

main {
    flex: 1;
} 


/* ---------- Navigation Bar ---------- */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000;
}

.logo img {
    width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 370;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: #b4d4ff;
}

.nav-icon {
    display: flex;
    align-items: center;
}

#individual-nav-icon:hover {
    transform: scale(1);
    color: #b4d4ff; 
}

.nav-icon i {
    margin-right: 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    transition: all .42s ease;
}

#menu-icon {
    font-size: 32px;
    color: #ffffff;
    z-index: 10001;
    cursor: pointer;
}

/* Show dropdown only when clicking over the menu icon */
#menu-icon:hover + .dropdown-content {
    display: block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;     /* Initially hidden */
    font-size: 16px;
    padding: 5px;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%;         /* Position it directly below the menu icon */
    left: 0;           /* Align with menu icon */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ededed; 
}

#menu-icon:hover {
    transform: scale(1);
    color: #b4d4ff; 
}

/* ---------- End of Navigation Bar ---------- */


/* ---------- Header/Hero Section ---------- */
.hero-section {
    width: 100%;
    height: 100vh; 
    margin-top: 3%;
    background-image: url('/Assets/Khmer Performance-01.JPG'); 
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    color: white;
    padding-left: 5%; 
}

.hero-section-content {
    z-index: 2; 
    max-width: 43%; 
    text-align: left; 
    margin-left: 2%;
}

.hero-section-content h1 {
    font-size: 3em; 
    font-weight: 550;
    font-family: Playfair Display, serif;
    margin-bottom: 20px;
    line-height: 1.2; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.hero-description {
    font-family: Roboto, Lato;
    font-size: 1.5em; 
    font-weight: 270;
    line-height: 1.5;
    max-width: 30%;
    margin-top: 30px;
    margin-bottom: 70px;
    max-width: 100%; 
    overflow-wrap: break-word;
}

.hero-button {
    display: flex; 
    gap: 25px; 
    margin-top: 20px;
}

.hero-button button {
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: 300;
    font-family: Roboto, Lato;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* "Explore Artworks" button */
#explore-button {
    border: 1px solid #000;
    color: #000;
    background-color: #b4d4ff;
}

#explore-button:hover {
    background-color: #000;
    color: #b4d4ff;
    border: 1px solid #b4d4ff;
    transform: scale(1);
}

/* "Start Selling" button */
#start-button {
    border: 1px solid white;
    color: white;
    background-color: #000;
}

#start-button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #000;
    transform: scale(1);
}


/* ---------- Featured Artworks ---------- */
.featured-artworks {
    padding: 7%; 
    background-color: #fff; 
}

.featured-artworks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; 
}

.featured-artworks-header h2 {
    font-size: 2em; 
    font-weight: 600;
    font-family: Playfair Display, serif;
    color: #000;
    margin: 0;
}

.view-all-button {
    padding: 10px 20px;
    width: 140px;
    font-size: 1em;
    font-weight: 300;
    font-family: Roboto, Lato;
    color: black;
    background-color: white; 
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-all-button:hover {
    background-color: #000; 
    color: white;
    transform: scale(1); 
}

.artworks-row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.artwork-card {
    width: 22%;                
    background-color: white;
    padding: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: left; 
    transition: transform 0.3s ease;
    height: 360px;
}

.artwork-card:hover {
    transform: scale(1.04);
}

.artwork-image {
    width: 100%; 
    height: auto; 
    margin-bottom: 15px;
}

.artwork-card .artist-name {
    font-size: 0.9em;
    font-weight: 500;
    color: #000; 
    margin: 10px 0 5px;
}

.artwork-card .artwork-details {
    font-size: 1.03em;
    font-weight: 300;
    color: #000; 
}

.browse-artworks {
    padding-left: 7%; 
    padding-right: 7%;
    padding-bottom: 7%;
    background-color: #fff; 
}

/* Responsiveness */
@media (max-width: 768px) {
    .artwork-card {
        width: 48%; /* 2 cards per row for smaller screens */
    }
}

@media (max-width: 480px) {
    .artwork-card {
        width: 100%; /* 1 card per row for very small screens */
    }
}
/* ---------- End of Featured Artworks ---------- */


/* ---------- Artist Spotlight ---------- */
.artist-spotlight {
    padding: 7%; 
    background-color: #f6f6f6; 
}

.artist-spotlight-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.artist-spotlight-header h2 {
    font-size: 2em; 
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #000;
    margin: 0;
}

.artist-row {
    display: flex;
    gap: 100px; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.artist-pic {
    flex: 1 1 30%;         
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #f6f6f6; 
    margin-left: 60px; 
}

.artist-pic img {
    width: 110%; 
    height: 100%; 
    transition: transform 0.3s ease-in-out;
}

.artist-pic img:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); 
}

.artist-spotlight-content {
    flex: 1 1 calc(50% - 100px);     /* Reduce the width to make shorter lines */
    margin-left: 60px; 
}

.artist-spotlight-content h4 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #000;
    margin-bottom: 30px;
}

.artist-content {
    font-size: 1.35em;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    color: #000;
    margin-bottom: 25px;
}

.artist-spotlight-content a .view-all-button {
    font-size: 0.9em;
    font-weight: 500;
    padding: 8px 15px;
    width: auto;
}

/* Animation */
.scroll-animation.artist-spotlight {
    opacity: 0;
    transform: scale(0.8) rotate(-5deg);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-animation.artist-spotlight.active {
    opacity: 1;
    transform: scale(1) rotate(0);
}


/* ---------- Responsiveness ---------- */
@media (max-width: 768px) {
    .artist-row {
        flex-direction: column;     /* Stack image and content vertically */
        align-items: center; 
        gap: 40px; 
    }

    .artist-pic {
        flex: 1 1 auto;             /* Adjust the width for smaller screens */
        margin-left: 0; 
        width: 100%; 
    }

    .artist-pic img {
        width: 90%; 
        height: auto;
    }

    .artist-spotlight-content {
        flex: 1 1 auto; 
        margin-left: 0; 
        text-align: center; 
    }

    .artist-spotlight-content h4 {
        font-size: 2em; 
    }

    .artist-content {
        font-size: 1.2em; 
    }

    .artist-spotlight {
        padding: 5%; 
    }
}
/* ---------- End of Artist Spotlight Section ---------- */


/* ---------- Category Section ---------- */
.browse-categories {
    padding: 7%; 
    background-color: #fff; 
}

.browse-categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; 
}

.browse-categories-header h2 {
    font-size: 2em; 
    font-weight: 600;
    font-family: Playfair Display, serif;
    color: #000;
    margin: 0;
}

.categories-row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.categories-row .category-card {
    height: 360px;
}

.category-card {
    width: 22%;                 /* 4 cards in a row with spacing */
    background-color: white;
    padding: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: left; 
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: scale(1.04);
}

.category-image {
    width: 100%; 
    height: auto; 
    margin-bottom: 15px;
}

.category-card p {
    font-size: 1.03em;
    font-weight: 300;
    color: #000; 
}

/* ---------- Responsiveness ---------- */
@media (max-width: 768px) {
    .category-card {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .category-card {
        width: 100%;
    }
}


/* ---------- Who We Are ---------- */
.who-we-are {
    padding: 7%;
    background-color: #000;
    color: white;
    text-align: center;
}

.who-we-are-content {
    max-width: 850px;
    margin: 0 auto;
}

.who-we-are h2 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: Playfair Display, serif;
    color: #fff;
    margin-bottom: 40px;
}

.who-we-are p {
    font-size: 1.2em;
    font-weight: 300;
    font-family: Lato, sans-serif;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 15px;
}

.continue-reading-button {
    font-size: 1.2em;
    font-weight: 300;
    font-family: Roboto, Lato;
    padding: 15px 20px;
    width: 300px;
    background-color: #b4d4ff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.3s ease-in-out;
}

.continue-reading-button:hover {
    background-color: #000;
    color: #b4d4ff;
    border: 1px solid #b4d4ff;
    transform: scale(1);
}

/* ---------- Scroll Animation ---------- */
.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-animation.active {
    opacity: 1;
    transform: translateY(0);
}

/* ---------- Responsiveness ---------- */
@media (max-width: 768px) {
    .who-we-are h2 {
        font-size: 2em; 
    }
    .who-we-are p {
        font-size: 1.1em; 
    }
    .continue-reading-button {
        width: 250px; 
        font-size: 1.1em; 
    }
}

@media (max-width: 480px) {
    .who-we-are h2 {
        font-size: 1.8em; 
    }
    .who-we-are p {
        font-size: 1em; 
        line-height: 1.6; 
    }
    .continue-reading-button {
        width: 200px; 
        padding: 12px 15px; 
        font-size: 1em; 
    }
}
/* ---------- End of Who We Are ---------- */


/* ---------- Explore Events Section ---------- */
.explore-events {
    padding: 7%;
    text-align: center;
    background-color: #f6f6f6;
}

.explore-events h2 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #000;
    margin-bottom: 40px;
}

.events-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.event-box {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 25px;
    width: calc(50% - 20px);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.event-box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.event-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.event-title {
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: #000;
    margin-bottom: 15px;
    text-align: center;
}

.event-description {
    font-size: 0.9em;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    color: #555;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.view-event-button {
    font-size: 0.8em;
    font-weight: 300;
    font-family: Roboto, Lato;
    width: 550px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.view-event-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.view-more-button {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 300;
    font-family: Roboto, Lato;
    padding: 15px 30px;
    width: 20%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.view-more-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}


/* Responsiveness */

@media (max-width: 768px) {
    .explore-events h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .events-container {
        gap: 20px;
        justify-content: center;
    }

    .event-box {
        width: calc(100% - 20px);
        margin-bottom: 20px;
        padding: 15px;
    }

    .view-event-button {
        width: 100%;
        font-size: 1em;
    }

    .view-more-button {
        width: 100%;
        padding: 12px;
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    .explore-events h2 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .events-container {
        gap: 15px;
    }

    .event-box {
        width: 100%;
        padding: 10px;
    }

    .event-title {
        font-size: 1.1em;
    }

    .event-description {
        font-size: 0.8em;
    }

    .view-event-button {
        font-size: 1em;
    }

    .view-more-button {
        padding: 10px;
        font-size: 1.2em;
    }
}
/* ---------- End of Events Section ---------- */


/* ---------- Newsletter Subscription ---------- */
.newsletter {
    padding: 7%;
    background-color: #fff;
    text-align: center;
}

.newsletter-content {
    max-width: 600px;
    margin: 0 auto;
}

.newsletter h2 {
    font-size: 2em;
    font-weight: 600;
    font-family: Playfair Display, serif;
    color: #000;
    margin-bottom: 20px;
}

.newsletter p {
    font-size: 1.2em;
    font-weight: 300;
    font-family: Lato, sans-serif;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.newsletter-form input {
    width: 65%;
    max-width: 400px;
    padding: 15px;
    font-size: 1em;
    font-weight: 300;
    font-family: Lato, sans-serif;
    border: 1px solid #ccc;
}

.newsletter-form button {
    padding: 15px 25px;
    width: 150px;
    font-size: 1em;
    font-weight: 300;
    font-family: Roboto, Lato;
    color: white;
    background-color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.newsletter-form button:hover {
    background-color: #b4d4ff;
    color: black;
    border: 1px solid #000;
    transform: scale(1);
}

/* ---------- Responsiveness ---------- */
@media (max-width: 768px) {
    .newsletter h2 {
        font-size: 2em; 
    }
    .newsletter p {
        font-size: 1.1em; 
    }
    .newsletter-form input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .newsletter h2 {
        font-size: 1.8em; 
    }
    .newsletter p {
        font-size: 1em; 
        line-height: 1.6;
    }
    .newsletter-form button {
        width: 100%;  
        font-size: 1em;
    }
}
/* ---------- End of Newsletter Section ---------- */


/* ---------- Map Section ---------- */
.map-section {
    padding: 7%;
    background-color: #f6f6f6;
    text-align: center;
}

.map-header h2 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: Playfair Display, serif;
    color: #000;
    margin-bottom: 30px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container iframe {
    width: 100%;
    /* max-width: 900px; */
    height: 500px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ---------- End of Map ---------- */


/* ---------- Footer ---------- */
.footer-container {
	max-width: 1170px;
	margin:auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: black;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #b4d4ff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 17px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 350;
	color: #cccccc;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #2b2e34;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #2b2e34;
	background-color: #b4d4ff;
}

.copyright { 
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* ---------- End of Footer ---------- */


/* ---------- Scroll-to-top Button ----------*/
.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #b4d4ff;
    color: black;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    z-index: 9999;
}
  
.scrollToTop:hover {
    background-color: #2b2e34;
    color: #fff;
}

/* ---------- Scroll-to-top Button ----------*/
